[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
dj-database-url = "*"
django-extensions = "*"
django-postgres-createdb = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
